$c-orange: #EC5242;
$c-dark: #232A31;
$c-light: #D3D3D3;

@font-face {
  font-family: 'cocogoose-pro-regular';
  src: url('../assets/fonts/cocogoose/Cocogoose Pro Regular Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-regular';
  src: url('../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}

.bg-c-orange {
  background-color: $c-orange;
}

.bg-c-dark { 
  background-color: $c-dark;
}

.bg-c-light {
  background-color: $c-light;
}

.color-c-orange {
  color: $c-orange;
}

.color-c-dark {
  color: $c-dark;
}

.color-c-light {
  color: $c-light;
}

.color-c-white {
  color: white;
}

.font-lato {
  font-family: 'lato-regular', 'sans-serif';
}

.font-cocogoose {
  font-family: 'cocogoose-pro-regular', 'sans-serif';
}

.width-limited {
  max-width: 1400px;
}

#mobile-nav {
  div {
    position: fixed;
    left: 1.1rem;
    top: 0.8rem;
    width: 2.4rem;
    height: 1.7rem;

    span{
      position: fixed;
      width: 2rem;
      border: 0.15rem solid $c-dark;
    }

    span:first-child{
      top: 1rem;
      left: 1.3rem;
    }
    span:nth-child(2){
      top: 1.5rem;
      left: 1.3rem;
    }
    span:nth-child(3){
      top: 2rem;
      left: 1.3rem;

    }
  }
}

#nav-top {
  height: 2.5rem;

  ul {
    display: flex;
    justify-content: end;
  }
}

#nav-bot {
  height: 6rem;

  #itc-campaign {
    outline-style: solid;
    outline-color: $c-orange;
    outline-offset: 0.2rem;
    outline-width: 0.4rem;
  }
  
  #itc-logo {
    font-size: 3rem;
  }
}

nav a:hover{
  color: $c-orange;
}

.diamond-background {
  background-image: url(../assets/images/tribackground.png);
}

.fs-05 {
  font-size: 0.5rem;
}

.fs-10 {
  font-size: 1rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-20 {
  font-size: 2rem;
}

.fs-25 {
  font-size: 2.5rem;
}

.fs-30 {
  font-size: 3rem;
}

.fs-35 {
  font-size: 3.5rem;
}

.fs-40 {
  font-size: 4rem;
}

.fs-45 {
  font-size: 4.5rem;
}

@media screen and (min-width: 768px){
  .fs-md-05 {
    font-size: 0.5rem;
  }
  
  .fs-md-10 {
    font-size: 1rem;
  }
  
  .fs-md-15 {
    font-size: 1.5rem;
  }
  
  .fs-md-20 {
    font-size: 2rem;
  }
  
  .fs-md-25 {
    font-size: 2.5rem;
  }
  
  .fs-md-30 {
    font-size: 3rem;
  }
  
  .fs-md-35 {
    font-size: 3.5rem;
  }
  
  .fs-md-40 {
    font-size: 4rem;
  }
  
  .fs-md-45 {
    font-size: 4.5rem;
  }
}